/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

body {
  background: #F2F2F2;
}

p {
  padding: 0;
  margin: 0;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: underline;
}

/********* HEADER **********/

.logo {
  width: 125px;
  float: left;
  position: relative;
  top: 15px;
}

.header_close {
  float:right;
  padding: 5px 10px;
  border: 1px solid rgb(136, 136, 136);
  color: grey;
  font-weight: bold;
  position: relative;
  top:11px;
  cursor: pointer;
}

.header_open {
  cursor: pointer;
  display: none;
  position: relative;
  margin-left: 10px;
}

.header_container {
  border: 1px solid rgb(136, 136, 136);
  margin-bottom: 35px;
  height: 55px;
}

/********* SEARCH CONTAINER **********/
.search_input {
  border: 1px solid rgb(136, 136, 136);
  padding: 15px;
  padding-left: 20px;
  height: 70px;
  font-size: 25px;
  width: 100%;
  font-weight: lighter;
}

.search_input::placeholder {
  color: rgb(175, 171, 171);
}

.search_input:active, .search_input:focus {
  outline-style: none
}

.search_form_container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.search_button {
  float: right;
  position: relative;
  top: -47px;
  right: 20px;
  cursor: pointer;
}

.glyphicon-search {
  font-size: 25px;
  color: #535151;
}

/********* SEARCH RESULTS **********/

.result_items{
  margin-bottom: 25px;
}

.noResultsContainer {
  text-align: center;
  font-size: 18px;
  color: rgb(149, 149, 149);
  display: none;
}

.noResultsContainer_inner {
  margin:0 auto;
  border: 1px solid lightgrey;
  width: 550px;
  padding: 10px;
}

/********* FOOTER CONTAINER **********/

.footer_container {
  border: 1px solid rgb(136, 136, 136);
  height: 130px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #141414;
}

.footer_top {
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid grey;
}

.footer_logo {
  width: 125px;
}

.footer_bottom {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 15px;
}

.footer_a, .footer_a:active, .footer_a:focus, .footer_a:hover {
  border-right: 1px solid rgb(153, 153, 153);
  padding-right: 6px;
  padding-left: 6px;
  text-decoration: none;
  color: grey;
  font-size: 12px
}

.footer_bottom .footer_a:last-child {
  border-right: 0;
  color: grey
}
